:root {
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 4" fill="white" width="4px" height="4px"><circle cx="2" cy="2" r="2"/></svg>'),
        auto;

    /* Colors */
    --text-primary: rgba(255, 255, 255, 0.87);
    --text-discreet: rgba(255, 255, 255, 0.2);
    --discreet: rgba(255, 255, 255, 0.1);
}

body {
    font-family: "Cascadia Code", "Cascadia Mono", Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console",
        "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono",
        "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    line-height: 1;
    font-weight: 400;

    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
}

.app.mobile {
    display: flex;
    flex-direction: column-reverse;
}
